include ./features.data.pug

section.features    
    h2.features__title= features.title
    p.features__text= features.description
    ul.features__list    
      each item in features.items
        li.features__item 
          img.features__img(src=(`../../assets/images/${item.imgName}.png`) alt=`${item.alt}`)
          h3.features__subtitle #{item.subtitle}
          .features__description !{item.description}