include ./breadcrumbs.data.pug

.breadcrumbs.breadcrumbs_desktop
    each option, index in breadcrumbsVar1
        if breadcrumbsVar1[index].link
            a(href=`${breadcrumbsVar1[index].link}` class=`${index===breadcrumbsVar1.length-1 ? 'breadcrumbs__link breadcrumbs__link_current': 'breadcrumbs__link'}`) #{breadcrumbsVar1[index].name} 
        else 
            span(class=`breadcrumbs__link breadcrumbs__link_current`) #{breadcrumbsVar1[index].name}
.breadcrumbs.breadcrumbs_mobile 
    each option, index in breadcrumbsVar2
        if breadcrumbsVar2[index].link
            a(href=`${breadcrumbsVar2[index].link}` class=`${index===breadcrumbsVar2.length-1 ? 'breadcrumbs__link breadcrumbs__link_current': 'breadcrumbs__link'}`) #{breadcrumbsVar2[index].name} 
        else 
            span(class=`breadcrumbs__link breadcrumbs__link_current`) #{breadcrumbsVar2[index].name}